@{
    ViewData["Title"] = "Add Courses to Students";
}

<div class="text-center">
    <section class="content">
        <div class="container-fluid">
            <div class="row">
                <div class="col-md-3"></div>
                <div class="col-md-6">
                    <div class="card card-primary">
                        <div class="card-header">
                            <h3 class="card-title">Add Courses to Student</h3>
                        </div>
                        <form>
                            <input type="hidden" class="form-control" id="studentId" value="0" />
                            <div class="card-body">
                                <div id="courses-container">
                                    <div class="form-group">
                                        <label for="courseDropdown">Select Course</label>
                                        <select class="form-control" id="courseDropdown">
                                            <!-- Options will be dynamically loaded here -->
                                        </select>
                                    </div>

                                    <div class="form-group">
                                        <label for="studentDropdown">Select Student</label>
                                        <select class="form-control" id="studentDropdown">
                                            <!-- Options will be dynamically loaded here -->
                                        </select>
                                    </div>

                                    <div class="form-group">
                                        <label for="Remark"></label>
                                        <input type="text" class="form-control" id="Remark" placeholder="Enter Remark" autocomplete="off">
                                    </div>

                                    <div class="form-check mt-2">
                                        <input type="checkbox" class="form-check-input" id="isActive" checked="">
                                        <label class="form-check-label" for="isActive">Active</label>
                                    </div>
                                </div>
                            </div>
                            <div class="row mt-3">
                                <div class="col">
                                    <button type="button" id="savebtn" onclick="saveData()" class="btn btn-primary me-2">Save</button>
                                    <button type="button" id="clearbtn" onclick="clearForm()" class="btn btn-danger">Clear</button>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
                <div class="col-md-3"></div>
            </div>
            <div class="row">
                <div class="col-12">
                    <div class="card">
                        <div class="card-header">
                            <h6 class="card-title">Courses Added to Student</h6>
                        </div>
                        <div class="card-body table-responsive p-0" id="datatable">
                            <table class="table table-hover text-nowrap" id="courseTable">
                                <thead>
                                    <tr>
                                        <th hidden>CourseStudentId</th>
                                        <th>Course Name</th>
                                        <th hidden>CourseId</th>
                                        <th hidden>StudentId</th>
                                        <th>Student Name</th>
                                        <th>Active</th>
                                        <th>Actions</th>

                                    </tr>
                                </thead>
                                <tbody id="tbodyid"></tbody>
                            </table>
                            <div id="example1_wrapper" class="dataTables_wrapper dt-bootstrap4">
                                <!-- DataTable buttons will be appended here -->
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>

<!-- Include jQuery -->
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<!-- Include DataTables JS from CDN -->
<script src="https://cdn.datatables.net/2.1.5/js/dataTables.min.js"></script>
<!-- Include DataTables CSS for styling -->
<link rel="stylesheet" href="https://cdn.datatables.net/2.1.5/css/dataTables.dataTables.min.css">
<!-- Sweet Alert -->
<script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>
<script src="/js/assigcoursesubject.js"></script> <!-- Corrected syntax here -->



